// Colors
$gray: #393a4c;
$gray-lighter: #424558;
$gray-border: #515467;
$color-light: #d3d3d3;
$color-lighter: #f3f3f3;
$color-gray: #7e7f9b;
$color-primary: #337ab7;
$color-primary-darker: #2e6da4;
$color-danger: #c9302c;
$color-danger-darker: #ac2925;

// Size vars
$gutter: 25px;
$block-height: 224px;
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;
