@import "public/lib/bootstrap/scss/bootstrap";
@import "mixins/mixins";

@charset "UTF-8";

.dropzone {
    border: 2px dashed #d3d3d3;
    line-height: 150px;
    overflow-y: auto;
}
.dropzone.active {
    border-color: #737373;
}
.dropzone.active .placeholder {
    color: #737373;
}
.dropzone .placeholder {
    color: #d3d3d3;
}
.dropzone.has-files {
    height: 200px;
    line-height: 16px;
}

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.is-inrange .pika-button {
    background: #D5E9F7;
}

.is-startrange .pika-button {
    color: #fff;
    background: #6CB31D;
    box-shadow: none;
    border-radius: 3px;
}

.is-endrange .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: none;
    border-radius: 3px;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.pika-button:hover {
    color: #fff;
    background: #ff8000;
    box-shadow: none;
    border-radius: 3px;
}

/* styling for abbr */
.pika-table abbr {
    border-bottom: none;
    cursor: help;
}



// Colors
$gray: #393a4c;
$gray-lighter: #424558;
$gray-border: #515467;
$color-light: #d3d3d3;
$color-lighter: #f3f3f3;
$color-gray: #7e7f9b;
$color-primary: #337ab7;
$color-primary-darker: #2e6da4;
$color-danger: #c9302c;
$color-danger-darker: #ac2925;

// Size vars
$gutter: 25px;
$block-height: 224px;

// Reset
html, body {
    // height: 100%;
}
ul {
    padding: 0;
    margin: 0;
    li {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.pac-container, .pac-container:hover {
    background-color: $gray !important;
    border-color: $color-lighter;
    border-top: none;

    .pac-item-selected {
        background-color: $gray !important;
    }
    .pac-item {
        border-top: none;
        color: $color-lighter !important;        
        .pac-matched {
            color: $color-lighter !important;
        }
        .pac-item-query {
            color: $color-light;
        } 
    }
    .pac-item:hover {
        background-color: $gray-lighter !important;
    } 
}

input[type="text"].form-control,
input[type="number"].form-control,
textarea.form-control,
input[type="file"].form-control,
input[type="text"].form-control:focus,
input[type="number"].form-control:focus,
textarea.form-control:focus {
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid $color-gray;
    outline: 0 none;
    box-shadow: none;
}
.text-default {
    color: $color-lighter;
    &:hover {
        color: $color-lighter;        
    }
    &:focus {
        color: $color-lighter;        
    }
}


.m-left-5 {
    margin-left: 5px;
}
.m-right-5 {
    margin-right: 5px;
}
.m-left-10 {
    margin-left: 10px;
}
.m-right-10 {
    margin-right: 10px;
}

.m-top-10 {
    margin-top: 10px;
}
.m-bot-10 {
    margin-bottom: 10px;
}
.m-top-15 {
    margin-top: 15px;
}
.m-bot-15 {
    margin-bottom: 15px;
}


.m-top-20 {
    margin-top: 20px;
}
.m-bot-20 {
    margin-bottom: 20px;
}

.m-top-40 {
    margin-top: 40px;
}
.m-bot-40 {
    margin-bottom: 40px;
}
.text-gray {
    color: $color-gray;
}
.va-bottom {
    vertical-align: bottom;
}


body.app {
    padding: $gutter 0;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Lato, Arial, sans-serif;
}
.fa-btn {
    margin-right: 6px;
}
.fa-btn-right {
    margin-left: 6px;
}
#app-container {
    position: relative;
    // height: 100%;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    margin-right: $gutter;
    margin: $gutter 0;
    text-transform: uppercase;
    color: $color-lighter;
    a {
        color: $color-lighter;
        display: block;
        padding: 10px 0;
        -webkit-transition: padding .2s;
        -moz-transition: padding .2s;
        -o-transition: padding .2s;
        transition: padding .2s;
        &:hover, &:focus {
            color: $color-lighter;
            text-decoration: none;
            padding-left: 10px;
        }
    }
    .user-block {
        text-align: center;
        border-radius: inherit;
    }
    .user-menu, .user-block {
        padding: 12px 30px;
    }
    .user-menu {
        .menu-title {
            color: $color-gray;
        }
        li {
            &:not(.menu-title) {
                border-bottom: 1px solid $color-gray;
            }
        }
    }
}
.user-block,
.content-block {
    max-height: $block-height;
    overflow: hidden;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.content {
    width: 800px;
    margin-left: 320px;
    // height: 100%;
    // overflow: hidden;
    // padding: $gutter;
    box-sizing: border-box;
}
.container-pad {
    padding: $gutter !important;
}
.name {
    display: block;
    margin: 20px 0;
    text-transform: uppercase;         
}
.sidebar, .content {
    border-radius: 4px;
}
.gray-bg {
    background: $gray;
    color: $color-lighter;
}
.gray-lighter-bg {
    background: $gray-lighter;
}
.event-desc {
    padding: $gutter;
    .avatar {
        margin-top: -64px - $gutter;
    }
}
.avatar-sm {
    max-width: 80px !important;
    max-height: 80px !important;
}
.avatar {
    width: 150px !important;
    height: 150px !important;
}
.alert {
    position: fixed;
    top: $gutter;
    right: 5px;
    z-index: 2;
    width: 400px;
    color: #fff !important;
    a {
        color: $color-lighter;
    }
}

// Helpers
.cursor-pointer {
    cursor: pointer;
}
.bordered {
    border: 5px solid rgba(255, 255, 255, .15);
}
.font-bold {
    font-weight: 600;
}

.count {
    font-size: 20px;
}
.fade-transition {
    transition: opacity .3s ease;
}
.alert.alert-success, .alert.alert-info {
    background-color: $color-primary;
    border-color: $color-primary-darker;
}
.alert.alert-danger {
    background-color: $color-danger;
    border-color: $color-danger-darker;
}
.bg-default {
    background-color: $color-lighter;
}

// checkbox
i.checkbox.fa {
    line-height: 16px;
    width: 19px;
    height: 15px;
    font-size: 24px;
    text-indent: -1px;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    min-height: initial !important;
    padding-top: 0 !important;
}
// tabs
.tab-controls {
    border-bottom: 1px solid $color-gray;
    & > a {
        color: $color-lighter;
        display: inline-block;
        padding: 15px 25px;
        // float: left;
        &:focus, &:hover {
            color: $color-lighter;
            text-decoration: none;
        }
        &.active {
            box-shadow: 0px 1px $color-primary;
            border-bottom: 4px solid $color-primary;
        }
    }
}
.tab-container {
    padding: 15px 0;
}
.list {
    .list-item {
        padding: $gutter 0;
        border-bottom: 1px solid $color-gray;
        .title {
            margin-top: 0;
        }
    }
}
.dropdown {
    display: inline-block;
    ul.dropdown-menu {
        background-color: $color-primary;
        li a {
            background-color: $color-primary;
            color: $color-lighter;
            border-bottom: $color-light;
            &:hover, &.selected {
                background-color: $color-primary-darker;
                color: $color-light;
            }
        }
    }    
}
.event-view-img {
    width: 100%;
}
#register-panel {
    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
}