@import "public/lib/bootstrap/scss/bootstrap";
@import "mixins/mixins";
@import "variables";
@import "base";
@import "vendor/pickaday";
@import "vendor/dropzone";
@import "utilities";
@charset "UTF-8";

.pac-container, .pac-container:hover {
    background-color: $gray !important;
    border-color: $color-lighter;
    border-top: none;

    .pac-item-selected {
        background-color: $gray !important;
    }
    .pac-item {
        border-top: none;
        color: $color-lighter !important;        
        .pac-matched {
            color: $color-lighter !important;
        }
        .pac-item-query {
            color: $color-light;
        } 
    }
    .pac-item:hover {
        background-color: $gray-lighter !important;
    } 
}

.app {
    padding: $gutter 0;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Lato, Arial, sans-serif;
}
.fa-btn {
    margin-right: 6px;
}
.fa-btn-right {
    margin-left: 6px;
}
#app-container {
    position: relative;
    @media screen and (min-width: $screen-sm) {
        display: flex;
        flex-direction: row;
    }
    
    // height: 100%;
}
.sidebar {
    flex: 1 0 30%;

    margin-right: $gutter;
    margin: $gutter 0;
    text-transform: uppercase;
    color: $color-lighter;
    a {
        color: $color-lighter;
        display: block;
        padding: 10px 0;
        -webkit-transition: padding .2s;
        -moz-transition: padding .2s;
        -o-transition: padding .2s;
        transition: padding .2s;
        &:hover, &:focus {
            color: $color-lighter;
            text-decoration: none;
            padding-left: 10px;
        }
    }
    .user-block {
        text-align: center;
        border-radius: inherit;
    }
    .user-menu, .user-block {
        padding: 12px 30px;
    }
    .user-menu {
        .menu-title {
            color: $color-gray;
        }
        li {
            &:not(.menu-title) {
                border-bottom: 1px solid $color-gray;
            }
        }
    }
}

.user-block,
.content-block {
    max-height: $block-height;
    overflow: hidden;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.content {
    flex: 1 0 70%;
    @media screen and (min-width: $screen-sm) {
        margin-left: 20px;
    }
    // height: 100%;
    // overflow: hidden;
    // padding: $gutter;
    box-sizing: border-box;
}
.container-pad {
    padding: $gutter !important;
}
.name {
    display: block;
    margin: 20px 0;
    text-transform: uppercase;         
}
.sidebar-content, .content {
    border-radius: 4px;
}
.gray-bg {
    background: $gray;
    color: $color-lighter;
}
.gray-lighter-bg {
    background: $gray-lighter;
}
.event-desc {
    padding: $gutter;
    .avatar {
        margin-top: -64px - $gutter;
    }
}
.avatar-sm {
    max-width: 80px !important;
    max-height: 80px !important;
}
.avatar {
    width: 150px !important;
    height: 150px !important;
}
.alert {
    position: fixed;
    top: $gutter;
    right: 15px;
    left: 15px;
    z-index: 2;
    @media screen and (min-width: $screen-xs) {
        right: 5px;
        left: auto;
        width: 400px;
    }
    color: #fff !important;
    a {
        color: $color-lighter;
    }
}

.count {
    font-size: 20px;
}
.fade-transition {
    transition: opacity .3s ease;
}
.alert.alert-success, .alert.alert-info {
    background-color: $color-primary;
    border-color: $color-primary-darker;
}
.alert.alert-danger {
    background-color: $color-danger;
    border-color: $color-danger-darker;
}


// checkbox
i.checkbox.fa {
    line-height: 16px;
    width: 19px;
    height: 15px;
    font-size: 24px;
    text-indent: -1px;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    min-height: initial !important;
    padding-top: 0 !important;
}
// tabs
.tab-controls {
    border-bottom: 1px solid $color-gray;
    & > a {
        color: $color-lighter;
        display: inline-block;
        padding: 15px 25px;
        // float: left;
        &:focus, &:hover {
            color: $color-lighter;
            text-decoration: none;
        }
        &.active {
            box-shadow: 0px 1px $color-primary;
            border-bottom: 4px solid $color-primary;
        }
    }
}
.tab-container {
    padding: 15px 0;
}
.list {
    .list-item {
        padding: $gutter 0;
        border-bottom: 1px solid $color-gray;
        .title {
            margin-top: 0;
        }
    }
}
.dropdown {
    display: inline-block;
    ul.dropdown-menu {
        background-color: $color-primary;
        li a {
            background-color: $color-primary;
            color: $color-lighter;
            border-bottom: $color-light;
            &:hover, &.selected {
                background-color: $color-primary-darker;
                color: $color-light;
            }
        }
    }    
}
.event-view-img {
    width: 100%;
}

#register-panel {
    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
}